@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] -Heaven</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/style.css" />



    <style>
        #bara-navigare {
            position: sticky;
            top: 0;
            z-index: 10;
        }

        .navbar-logo img {
            height: 60px;
            padding-left: 40px;
        }

        .navbar-nav li {
            padding: 0 10px;
        }

            .navbar-nav li a {
                float: right;
                text-align: left;
            }

       

        .navbar {
            background-color: transparent;
        }

        .navbar-toggler {
            border: none !important;
        }

        .nav-link {
            color: red;
            font-weight: 600;
            font-size: 16px;
        } 

}
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light " style="background-color:transparent;">
            <a class="navbar-logo" href="#"><img src="~/images/logo.png" /> </a>
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1 ">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Acasa</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About">Despre noi</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AdoptiiPisici">Adoptii pisici</a>
                           

                        </li> 



                        <li class="nav-item dropdown active">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Adoptii caini</a>

                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="AdoptiiCainiPui">Adoptii caini pui</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="AdoptiiCainiTalieMica">Adoptii caini talie mica</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="AdoptiiCainiTalieMare">Adoptii caini talie mare</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Doneaza">Doneaza</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                        </li>

                        <li class="nav-item">
                            <partial name="_LoginPartial" />
                        </li>

                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
