
@{
    ViewData["Title"] = "AdoptiiCainiTalieMica";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<html>
<head>
    <title>Heaven</title>
    <link rel="stylesheet" href="style2.css">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js">
    </script>







    <style>
        body {
            background-color: lightblue;
            background-size: cover;
        }


        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }



        .images {
            max-width: 100%;
        }

        .no-padding .col-md-6 {
            padding: 0;
        }

        h3.heading {
            margin-top: 100px;
            text-align: auto;
            font-size: 1.9rem;
            text-transform: uppercase;
            margin-bottom: 1.9rem;
        }



        .container {
            display: grid;
            grid-template-columns: auto auto auto auto auto auto;
            grid-gap: 10px;
            padding: 20px;
            padding-right: 20px;
            box-sizing: border-box;
        }

            .container .box {
                position: relative;
                width: 260px;
                margin-right: 40px;
                background: #7FFFD4;
                padding: 20px 40px 40px;
                text-align: center;
                overflow: hidden;
                border-radius: 20px;
            }

                .container .box:nth-child(1) {
                    background: linear-gradient(45deg,#036eb7,#64eaff);
                }

                .container .box:nth-child(2) {
                    background: linear-gradient(45deg,#E91E63,#ed55ff);
                }

                .container .box:nth-child(3) {
                    background: linear-gradient(45deg,#086d35,#00ff72);
                }

                .container .box:nth-child(4) {
                    background: linear-gradient(45deg,#f05a4f,#f4c030);
                }

                .container .box:nth-child(5) {
                    background: linear-gradient(45deg,#036eb7,#64eaff);
                }




                .container .box h3 {
                    position: relative;
                    margin: 0;
                    padding: 0;
                    font-size: 40px;
                    color: black;
                    z-index: 1;
                    opacity: 0.4;
                }


                .container .box p {
                    position: relative;
                    margin: 0;
                    padding: 0;
                    font-size: 40px;
                    color: black;
                    z-index: 1;
                    opacity: 0.4;
                }

        .card {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }

        .btn {
            border-width: medium;
            background-color: black;
            border-radius: 20px;
            text-transform: capitalize;
            padding: .5rem 1.1rem;
            font-size: .9rem;
        }
    </style>

</head>

<body>

    <div class="container-fluid ">
        <div class="col-12 text-center">
            <h3 class="heading">Minunile noastre de talie mica asteapta de mult timp o familie</h3>
            <p>
                Sunt catei adulti, cei mai multi dintre ei au avut case si stapani - oameni fara suflet care s-au debarasat de ei, aruncandu-i in strada.
                <br>Altii au fost abandonati de pui impreuna cu mamicile lor. Toti sunt minunati, iubitori, calzi, dornici de afectiune, sociabili si prietenosi cu alti blanosi.
                <br>Exista prejudecata ca un catel adult nu se adapteaza cu un alt om... este gresit!
                <br>Un catel adult care a trecut prin multe lucruri triste, apreciaza si ii este recunoscator omului care ii ofera iubire, caldura si stabilitate.
                <br>Minunile astea mici ne iubesc enorm, nu s-ar mai dezlipi din bratele noastre... la fel de mult ii iubim si noi dar stim ca locul lor trebuie sa fie intr-o familie, intr-un loc cald, la propriu si la figurat. Pe dvs cei care le veti deveni familii, va vor iubi la fel de mult, nu va fie teama sa adoptati un catel adult, oferiti-le posibilitatea sa va arate dragostea lor. Toti blanosii sunt deparazitati, vaccinati, microcipati si castrati.Adoptia se realizeaza in Bucuresti si imprejurimi la apartament sau la curte cu conditia sa fie tratati ca un membru al familiei.
            </p>
        </div>


        <div class="row no-padding">

            <div class="col-md-6">
                <img class="images" src="~/images/p12.jpg">
                <p>
                    Magnus a implinit un an si era doar o mogaldeata de o luna cand l-am salvat anul trecut de pe marginea soselei, fusese abandonat asa cum se intampla cu multi pui in Romania.
                    <br>Si-a petrecut copilaria in adapost desi are toate calitatile pt a fi companionul perfect. Este jucaus, iubitor cu omul si prietenos cu alti caini.
                    <br>Este de talie medie catre mica, are in jur de 10 kg, este deparazitat, vaccinat, si microcipat
                </p>
            </div>
            <div class="col-md-6">

                <img class="images" src="~/images/4.jpg">
                <p>
                    Minune cu blanita si ochi de caprioara cauta om iubitor si responsabil!
                    Are 2 ani si 4 kg, este dulce, calda, iubitoare si acomodata perfect cu viata de apartament, nu face in casa, nu strica, nu roade, merge in lesa. Poate sta cuminte singura ore in sir in cosuletul ei iar cand vei intra pe usa te va intampina cu codita fluturand pt ca mai tarziu sa te alinte si sa te bucure stand in poala ta precum pisicile.
                    Este deparazitata, vaccinata, microcipata si sterilizata.
                </p>

            </div>
            <div class="col-md-6">

                <img class="images" src="~/images/p22.jpg">
                <p>
                    Este prima ei iesire la iarba verde asa ca e un pic stinghera, dar daca ar avea un om iubitor si plimbari dese in parc, lucrurile s-ar schimba cu siguranta. Cum e Lola, de fel? Iubitoare cu oamenii, prietenoasa si jucausa cu alti catei, nu este energica ci e mai degraba calma si linistita.
                    Lola are 1 an de zile, este de talie mica, este vaccinata, sterilizata si microcipata.
                </p>

            </div>
            <div class="col-md-6">

                <img class="images" src="~/images/p1.jpg">
                <p>
                    Numele meu este Victor, sunt un catel de talie mica si candva am avut o casa si niste stapani care s-au descotorosit de mine in mijlocul iernii...
                    <br>Printr-un miracol am fost gasit si salvat la timp si de atunci sunt in cautarea unei familii care sa ma iubeasca si sa ma ingrijeasca pentru toata viata.
                </p>

            </div>




        </div>   <!---End Row-->
    </div>   <!---End Jumbotron-->
    </div>


</body>
</html>