
@{
    ViewData["Title"] = "AdoptiiPisici";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <title>Heaven</title>
    <link rel="stylesheet" href="style2.css">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js">
    </script>







    <style>
        body {
            background-color: lightblue;
            background-size: cover;
        }


        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }



        .images {
            max-width: 100%;
        }

        .no-padding .col-md-6 {
            padding: 0;
        }

        h3.heading {
            margin-top: 100px;
            text-align: auto;
            font-size: 1.9rem;
            text-transform: uppercase;
            margin-bottom: 1.9rem;
        }



        .container {
            
            display: grid;
            grid-template-columns: auto auto auto auto auto auto;
            grid-gap: 10px;
            padding: 20px;
            padding-right: 20px;
            box-sizing: border-box;
        }

            .container .box {
                position: relative;
                width: 260px;
                margin-right: 40px;
                background: #7FFFD4;
                padding: 20px 40px 40px;
                text-align: center;
                overflow: hidden;
                border-radius: 20px;
            }

                .container .box:nth-child(1) {
                    background: linear-gradient(45deg,#036eb7,#64eaff);
                }

                .container .box:nth-child(2) {
                    background: linear-gradient(45deg,#E91E63,#ed55ff);
                }

                .container .box:nth-child(3) {
                    background: linear-gradient(45deg,#086d35,#00ff72);
                }

                .container .box:nth-child(4) {
                    background: linear-gradient(45deg,#f05a4f,#f4c030);
                }

                .container .box:nth-child(5) {
                    background: linear-gradient(45deg,#036eb7,#64eaff);
                }




                .container .box h3 {
                    position: relative;
                    margin: 0;
                    padding: 0;
                    font-size: 40px;
                    color: black;
                    z-index: 1;
                    opacity: 0.4;
                }


                .container .box p {
                    position: relative;
                    margin: 0;
                    padding: 0;
                    font-size: 40px;
                    color: black;
                    z-index: 1;
                    opacity: 0.4;
                }

        .card {
            
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }

        .btn {
            border-width: medium;
            background-color: black;
            border-radius: 20px;
            text-transform: capitalize;
            padding: .5rem 1.1rem;
            font-size: .9rem;
        }
    </style>

</head>

<body>

    <div class="container-fluid padding">
        <div class="col-12 text-center">
            <h3 class="heading">Adoptii pisici</h3>
            <div class="heading-underline"></div>
        </div>


        <div class="row no-padding"> 



            <div class="col-md-6">
                <img class="images" src="~/images/c.jpg" alt=""> 
                <p>
                    Frumoasa ca un fulg de nea, Blanche este o minune de pisicuta in varsta de un doi ani de zile pe care am salvat-o din strada cu un an in urma. Este afectuoasa, torcacioasa si cuminte dar si jucausa daca are ocazia.
                    Ii place sa framante paturica si sa fie mangaiata si alintata.
                    Ii cautam familie iubitoare si responsabila in Bucuresti.
                    Blanche este deparazitata, vaccinata si sterilizata.
                </p>

            </div>
            <div class="col-md-6">
                <img class="images" src="~/images/c1.jpg">
                <p>
                    Garfield este un motan in varsta de 1 an,asa de frumos, lipicios si torcacios, dar pana acum fara noroc. Fratelui lui, Silver, a fost adoptat cu multe luni in urma in timp ce Garfield inca asteapta o familie responsabila.Daca se poate sa aiba drept companie si o alta pisica ar fi minunat, intrucat el iubeste oamenii si pisicile in egala masura.Garfield este deparazitat, vaccinat si sterilizat
                </p>
            </div>
            <div class="col-md-6">
                <img class="images" src="~/images/c2.jpg">
                <p>Este tipul de pisică inteligentă şi activă, dar şi iubitoare,in varsta de doi ani. Se obişnuieşte greu cu căminul, dar odată ce o face devine foarte ataşată. Iubeşte să se joace cu oamenii şi socializează fără probleme şi cu alte animale, cum sunt câinii sau păsările.Tina este deparazitata, vaccinata si sterilizata. </p>

            </div>
            <div class="col-md-6">
                <img class="images" src="~/images/c3.jpg">
                <p>
                    Set un motanas minune - foarte lipicios si atasat de oameni, vorbaret si torcacios. Are o personalitate deosebita, ne urmareste prin casa si vorbeste cu noi, ne prinde mana usor cu labuta lui pt a-i acorda afectiune incat ne topeste efectiv si cand ajungem acasa ne intampina la usa precum un catelus.
                    Set are nevoie de un om care sa isi petreca suficient timp cu el si /sau sa aiba inca o pisicuta drept companion.
                </p>
            </div>





        </div>   <!---End Row-->
    </div>   <!---End Jumbotron-->
    </div>

</body>
</html>