
@{
    ViewData["Title"] = "AdoptiiCainiTalieMare";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <html>
    <head>
        <title>Heaven</title>
        <link rel="stylesheet" href="style2.css">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js">
        </script>







        <style>
            body {
                background-color: lightblue;
                background-size: cover;
            }


            .center {
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 50%;
            }



            .images {
                max-width: 100%;
            }

            .no-padding .col-md-6 {
                padding: 0;
            }

            h3.heading {
                margin-top: 100px;
                text-align: auto;
                font-size: 1.9rem;
                text-transform: uppercase;
                margin-bottom: 1.9rem;
            }



            .container {
                display: grid;
                grid-template-columns: auto auto auto auto auto auto;
                grid-gap: 10px;
                padding: 20px;
                padding-right: 20px;
                box-sizing: border-box;
            }

                .container .box {
                    position: relative;
                    width: 260px;
                    margin-right: 40px;
                    background: #7FFFD4;
                    padding: 20px 40px 40px;
                    text-align: center;
                    overflow: hidden;
                    border-radius: 20px;
                }

                    .container .box:nth-child(1) {
                        background: linear-gradient(45deg,#036eb7,#64eaff);
                    }

                    .container .box:nth-child(2) {
                        background: linear-gradient(45deg,#E91E63,#ed55ff);
                    }

                    .container .box:nth-child(3) {
                        background: linear-gradient(45deg,#086d35,#00ff72);
                    }

                    .container .box:nth-child(4) {
                        background: linear-gradient(45deg,#f05a4f,#f4c030);
                    }

                    .container .box:nth-child(5) {
                        background: linear-gradient(45deg,#036eb7,#64eaff);
                    }




                    .container .box h3 {
                        position: relative;
                        margin: 0;
                        padding: 0;
                        font-size: 40px;
                        color: black;
                        z-index: 1;
                        opacity: 0.4;
                    }


                    .container .box p {
                        position: relative;
                        margin: 0;
                        padding: 0;
                        font-size: 40px;
                        color: black;
                        z-index: 1;
                        opacity: 0.4;
                    }

            .card {
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 50%;
            }

            .btn {
                border-width: medium;
                background-color: black;
                border-radius: 20px;
                text-transform: capitalize;
                padding: .5rem 1.1rem;
                font-size: .9rem;
            }
        </style>

    </head>

    <body>

        <div class="container-fluid ">
            <div class="col-12 text-center">
                <h3 class="heading">Minunile noastre de talie mare asteapta de mult timp o familie</h3>
                <p>
                    Sunt catei adulti, cei mai multi dintre ei au avut case si stapani - oameni fara suflet care s-au debarasat de ei, aruncandu-i in strada.
                    <br>Altii au fost abandonati de pui impreuna cu mamicile lor. Toti sunt minunati, iubitori, calzi, dornici de afectiune, sociabili si prietenosi cu alti blanosi.
                    <br>Exista prejudecata ca un catel adult nu se adapteaza cu un alt om... este gresit!
                    <br>Un catel adult care a trecut prin multe lucruri triste, apreciaza si ii este recunoscator omului care ii ofera iubire, caldura si stabilitate.
                    <br>Minunile astea mici ne iubesc enorm, nu s-ar mai dezlipi din bratele noastre... la fel de mult ii iubim si noi dar stim ca locul lor trebuie sa fie intr-o familie, intr-un loc cald, la propriu si la figurat. Pe dvs cei care le veti deveni familii, va vor iubi la fel de mult, nu va fie teama sa adoptati un catel adult, oferiti-le posibilitatea sa va arate dragostea lor. Toti blanosii sunt deparazitati, vaccinati, microcipati si castrati.Adoptia se realizeaza in Bucuresti si imprejurimi la apartament sau la curte cu conditia sa fie tratati ca un membru al familiei.
                </p>
            </div>


            <div class="row no-padding">

                <div class="col-md-6">
                    <img class="images" src="~/images/d.jpg">
                    <p>
                        Are un trei ani de zile si este un Golden Retriever; este mare, frumoasa, inteligenta, afectuoasa, jucausa si energica.
                        O avem in grija de cand avea o luna si un pic cand a fost abandonata impreuna cu mamica ei in preajma adapostului nostru. .
                        Suzzi este vaccinata, sterilizata, microcipata.
                        Ii cautam familie iubitoare si responsabila in Bucuresti si imprejurimi.
                    </p>
                </div>
                <div class="col-md-6">

                    <img class="images" src="~/images/d1.jpg">
                    <p>
                        Pe Otis Il avem in grija de cand avea 3 luni.
                        Timpul a trecut, acum are 3 ani  si el tot aici este, desi are toate calitatile pt a avea o familie: este frumos, echilibrat, inteligent si foarte afectuos.
                    </p>

                </div>
                <div class="col-md-6">

                    <img class="images" src="~/images/d2.jpg">
                    <p>
                        Kelly este foarte inteligenta, iubitoare si docila, adora omul si se intelege de minune cu alti catei. Primul an din viata si l-a petrecut in lant pana cand a fost abandonata si am salvat-o noi, avea atunci o rana de toata "frumusetea" la gat si babesioza.
                        Asta se intampla cu 2 ani in urma si de atunci este in grija noastra si ii cautam om pt care catelul este membru al familiei!
                    </p>

                </div>
                <div class="col-md-6">

                    <img class="images" src="~/images/d3.jpg">
                    <p>
                        Este buna, blanda si afectuoasa, este foarte prietenoasa si jucausa cu alti catei... este catelusa magica Ingrid careia ii cautam oameni pt care catelul este membru al familiei.
                        Ii cautam familie iubitoare si responsabila in Bucuresti si imprejurimi.
                    </p>

                </div>




            </div>   <!---End Row-->
        </div>   <!---End Jumbotron-->
        </div>


    </body>
    </html>

